<table class="table marginBottom-0px">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Note</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="note in gridOrderNotes| orderBy:'nameGroups'">
            <td>{{ note.nameGroups}}</td>
            <td>
                <p><span class="text-muted" >{{ note.firstName}}</span></p>
                <textarea class="form-control non-resize" ng-model="note.note" ng-change="note.save = true" >{{ note.note}}</textarea>
                <div class="text-right">
                    <button type="button" ng-click="deleteNote(note)" class="btn btn-xs btn-danger">Delete</button>
                    <button type="button" ng-disabled="!note.save" ng-click="updateNote(note)" class="btn btn-xs btn-primary">Update</button>
                </div>
            </td>
        </tr>
    </tbody>

</table>