<div class="row row-marginTop-10px">
    <div class="col-md-2">
        <div class="list-group">
            <button type="button" class="list-group-item active" ng-click="getParameterFilter(customersValue)">Customer</button>
            <button type="button" class="list-group-item" ng-click="getParameterFilter(customersValue)">Models</button>
            <button type="button" class="list-group-item" ng-click="getParameterFilter(customersValue)">Colors</button>
            <button type="button" class="list-group-item" ng-click="getParameterFilter(customersValue)">Types</button>
            <button type="button" class="list-group-item" ng-click="getParameterFilter(customersValue)">Diameters</button>
            <button type="button" class="list-group-item" ng-click="getParameterFilter(customersValue)">Threads</button>
            <button type="button" class="list-group-item" ng-click="getParameterFilter(customersValue)">Statuses</button>
        </div>      
        
    </div>    
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                Basic panel example
            </div>
        </div>

    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="well well-sm col-md-10 ">
                <div class="row">
                    <div class="col-md-10">
                        <button type="button" class="btn btn-info btn-xs"><span>&times;</span></button>
                        <button type="button" class="btn btn-info btn-xs"><span>&times;</span></button>
                        <button type="button" class="btn btn-info btn-xs"><span>&times;</span></button>
                        <button type="button" class="btn btn-info btn-xs"><span>&times;</span></button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default pull-right">Default</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default pull-right">Default</button>
            </div>
        </div>     
    </div>
</div> <!-- END row div-->