<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <!--  Properties JDBC file -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>/WEB-INF/jdbc.properties</value>
                <value>/WEB-INF/systemParms.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean> 
    
    
    
    <!--   p:location="/WEB-INF/jdbc.properties" />  -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" ></property>
        <property name="url" value="${jdbc.url}" ></property>
        <property name="username" value="${jdbc.username}" ></property>
        <property name="password" value="${jdbc.password}" ></property>
    </bean>






    <!--  ADD  PERSISTENCE  SUPORT  HERE (jpa, hibernate, etc)  --> 
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>  
                <value>md.ibanc.rm.entities.Cards</value>             
                <value>md.ibanc.rm.entities.Accounts</value>
                <value>md.ibanc.rm.entities.Status</value>
                <value>md.ibanc.rm.entities.ExchangeRate</value>
                <value>md.ibanc.rm.entities.Valuta</value>
                <value>md.ibanc.rm.entities.Languages</value>
                <value>md.ibanc.rm.entities.LocationOffers</value>
                <value>md.ibanc.rm.entities.CustomerActions</value>
                <value>md.ibanc.rm.entities.PasswordsHistory</value>
                <value>md.ibanc.rm.entities.Sysdiagrams</value>
                <value>md.ibanc.rm.entities.Branches</value>
                <value>md.ibanc.rm.entities.Location</value>
                <value>md.ibanc.rm.entities.WrongPassword</value>
                <value>md.ibanc.rm.entities.Types</value>
                <value>md.ibanc.rm.entities.Devices</value>
                <value>md.ibanc.rm.entities.Users</value>
                <value>md.ibanc.rm.entities.Customers</value>
                <value>md.ibanc.rm.entities.CustomerAccount</value>
                <value>md.ibanc.rm.entities.City</value>
                <value>md.ibanc.rm.entities.Manufacturer</value>
                <value>md.ibanc.rm.entities.Transactions</value>
                <value>md.ibanc.rm.entities.TerminalTypes</value>
                <value>md.ibanc.rm.entities.SingInOutSessions</value>
                <value>md.ibanc.rm.entities.Offer</value>
                <value>md.ibanc.rm.entities.News</value>
                <value>md.ibanc.rm.entities.Services</value>
                <value>md.ibanc.rm.entities.UserRoles</value>
                <value>md.ibanc.rm.entities.NetworkOperatorManufacturer</value>
                <value>md.ibanc.rm.entities.StateTransaction</value>
                <value>md.ibanc.rm.entities.Sessions</value>
                <value>md.ibanc.rm.entities.Terminals</value>
                <value>md.ibanc.rm.entities.NetworkOperator</value>
                <value>md.ibanc.rm.entities.Message</value>
                <value>md.ibanc.rm.entities.SendMessage</value>
                <value>md.ibanc.rm.entities.TypeMessage</value>
                <value>md.ibanc.rm.entities.NewsCategory</value>
                
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
    
    
    <!--  Transaction  manager  for  a  single  Hibernate  SessionFactory (alternative to JTA)    -->
    <tx:annotation-driven transaction-manager="transactionManagerHibernate"/>

    <bean id="transactionManagerHibernate" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>    
    </bean>
   
    
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    
    <!-- =========================  BUSINESS  OBJECT  DEFINITIONS =================================== -->
    
    <!--  Data  access object: Hibernate implementation. -->
    <!-- ==========================  DAO object DEFINITIONS  ========================================== -->
    <bean id="exchangeRateDAO" class = "md.ibanc.rm.spring.dao.ExchangeRateDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="usersDAO" class="md.ibanc.rm.spring.dao.UsersDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="customersDAO" class="md.ibanc.rm.spring.dao.CustomersDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
            
    <bean id="sessionDAO" class="md.ibanc.rm.spring.dao.SessionsDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="singInOutSessionsDAO" class="md.ibanc.rm.spring.dao.SingInOutSessionsDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="devicesDAO" class="md.ibanc.rm.spring.dao.DevicesDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="manufacturerDAO" class="md.ibanc.rm.spring.dao.ManufacturerDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="networkOperatorDAO" class="md.ibanc.rm.spring.dao.NetworkOperatorDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="networkOperatorManufacturerDAO" class="md.ibanc.rm.spring.dao.NetworkOperatorManufacturerDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="messageDAO" class="md.ibanc.rm.spring.dao.MessageDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="wrongPasswordDAO" class="md.ibanc.rm.spring.dao.WrongPasswordDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="statusDAO" class="md.ibanc.rm.spring.dao.StatusDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="cityDAO" class="md.ibanc.rm.spring.dao.CityDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>       
    </bean>


    <bean id="languagesDAO" class="md.ibanc.rm.spring.dao.LanguagesDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="cardsDAO" class="md.ibanc.rm.spring.dao.CardsDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    
    <bean id="newsCategoryDAO" class="md.ibanc.rm.spring.dao.NewsCategoryDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <!-- ========================== Service object Definition ========================================== -->
    
    <bean id="exchangeRateService" class="md.ibanc.rm.spring.service.ExchangeRateServiceImpl">
        <property name="exchangeRateDAO" ref="exchangeRateDAO"></property>
    </bean>
    
    <bean id="usersService" class="md.ibanc.rm.spring.service.UsersServiceImpl">
        <property name="usersServiceDAO" ref="usersDAO"></property>
    </bean>
    
    <bean id="customersService" class="md.ibanc.rm.spring.service.CustomersServiceImpl">
        <property name="customersDAO" ref="customersDAO"></property>
        <property name="sessionsDAO" ref="sessionDAO"></property>
        <property name="singInOutSessionsDAO" ref="singInOutSessionsDAO"></property>
    </bean>
    
    <bean id="sessionsService" class="md.ibanc.rm.spring.service.SessionsServiceImpl">
        <property name="sessionsDAO" ref="sessionDAO"></property>
    </bean>

    <bean id="singInOutSessionsService" class="md.ibanc.rm.spring.service.SingInOutSessionsServiceImpl">
        <property name="singInOutSessionsDAO" ref="singInOutSessionsDAO"></property>
        <property name="sessionsDAO" ref="sessionDAO"></property>
    </bean>
    
    <bean id="devicesService" class="md.ibanc.rm.spring.service.DevicesServiceImpl">
        <property name="devicesDAO" ref="devicesDAO"></property>
        <property name="manufacturerDAO" ref="manufacturerDAO"></property>
        <property name="networkOperatorDAO" ref="networkOperatorDAO"></property>
        <property name="networkOperatorManufacturerDAO" ref="networkOperatorManufacturerDAO"></property>
    </bean>
    
    <bean id="manufacturerService" class="md.ibanc.rm.spring.service.ManufacturerServiceImpl">
        <property name="manufacturerDAO" ref="manufacturerDAO"></property>
    </bean>
    
    <bean id="networkOperatorService" class="md.ibanc.rm.spring.service.NetworkOperatorServiceImpl">
        <property name="networkOperatorDAO" ref="networkOperatorDAO"></property>
    </bean>

    <bean id="networkOperatorManufacturerService" class="md.ibanc.rm.spring.service.NetworkOperatorManufacturerServiceImpl">
        <property name="networkOperatorManufacturerDAO" ref="networkOperatorManufacturerDAO"></property>
    </bean>
    
    <bean id="messageService" class="md.ibanc.rm.spring.service.MessageServiceImpl">
        <property name="messageDAO" ref="messageDAO"></property>
    </bean>
    
    <bean id="wrongPasswordService" class="md.ibanc.rm.spring.service.WrongPasswordServiceImpl">
        <property name="wrongPasswordDAO" ref="wrongPasswordDAO"></property>
    </bean>
    
    <bean id="statusService" class="md.ibanc.rm.spring.service.StatusServiceImpl">
        <property name="statusDAO" ref="statusDAO"></property>
    </bean>
    
    <bean id="cityService" class="md.ibanc.rm.spring.service.CityServiceImpl">
        <property name="cityDAO" ref="cityDAO"></property>
    </bean>
    
    <bean id="languagesService" class="md.ibanc.rm.spring.service.LanguagesServiceImpl">
        <property name="languagesDAO" ref="languagesDAO"></property>
    </bean>
    
    <bean id="cardsService" class="md.ibanc.rm.spring.service.CardsServiceImpl">
        <property name="cardsDAO" ref="cardsDAO"></property>
    </bean>
    
    <bean id="newsCategoryService" class="md.ibanc.rm.spring.service.NewsCategoryServiceImpl">
        <property name="newsCategoryDAO" ref="newsCategoryDAO"></property>        
    </bean>
    
    
</beans>
